.idea/*
build/*
.vscode/*
vimp/latex/*
vimp/html/*
vimp/doxygen/*
vimp/build/*
vimp/.vscode/*
vimp_python/vimp/*
vimp_python/CMakeFiles/*
vimp/data/debug/*
matlab_helpers/.vscode/*
matlab_helpers/+gtsam/*
matlab_helpers/+gpmp2/*
vimp/maps/WAM/WAMDeskDataset.bin
vimp/maps/WAM/WAMDeskDataset_cereal.bin
vimp/maps/WAM/PR2DeskDataset_cereal.bin
vimp/maps/3dpR/pRSDF3D.bin
vimp/maps/3dpR/pRSDF3D_cereal.bin
vimp/data/WAM/*
vimp/quadrature/SparseGHQuadratureWeights.bin
vimp/python/debug/*
vimp/python/sdf_robot/map/planar/MultiObstacleLongRangeMap_field.csv
vimp/python/sdf_robot/map/planar/MultiObstacleLongRangeMap.csv