Field:
  field_origin: [-0.25, -0.75, -0.2] # [x, y, z] The origin of the field in the april tag's frame
  field_size: [150, 150, 140]
  cell_size: 0.01
  obstacles:   # Obstacles in the field corresponding to the bodyframe
    - name: sdf_box_1                   # PC box
      bodyframe: B1
      center: [0.00, -0.185, 0.1525]    # [x, y, z] in metres (wrt frame B)
      orientation: [0.0, 0.0, 0.0, 1.0] # quaternion (qx, qy, qz, qw)
      size: [0.095, 0.46, 0.35 ]

    - name: bottom_box 
      bodyframe: B2
      center: [-0.0725, 0.035, 0.0925]
      orientation: [0.0, 0.0, 0.0, 1.0]
      size: [0.345, 0.02, 0.205]
    - name: front_box
      bodyframe: B2
      center: [-0.0725, -0.01375, 0.0]
      orientation: [0.0, 0.0, 0.0, 1.0]
      size: [0.345, 0.1175, 0.02]
    - name: back_box
      bodyframe: B2
      center: [-0.0725, -0.01375, 0.185]
      orientation: [0.0, 0.0, 0.0, 1.0]
      size: [0.345, 0.1175, 0.02]
    - name: left_box
      bodyframe: B2
      center: [-0.235, -0.01375, 0.0925]
      orientation: [0.0, 0.0, 0.0, 1.0]
      size: [0.02, 0.1175, 0.205]
    - name: right_box
      bodyframe: B2
      center: [0.09, -0.01375, 0.0925]
      orientation: [0.0, 0.0, 0.0, 1.0]
      size: [0.02, 0.1175, 0.205]

    # - name: sdf_box_2                   # ROBOTIC Box
    #   bodyframe: B3
    #   center: [0.10, 0.10, 0.26]        # [x, y, z] in metres (wrt frame B)
    #   orientation: [0.0, 0.0, 0.0, 1.0] # quaternion (qx, qy, qz, qw)
    #   size: [ 0.425, 0.325, 0.11]
    #   world_size: [0.11, 0.425, 0.325]


Camera:
  config_file: "vimp/scripts/hardware_experiment/UTF-8realsense_high_d435_no_table_tuned_p2048_w_icp.json"
  apriltag_lcm_topic: "EXAMPLE"
  apriltag_families: 'tag25h9' # Change in vimp/thirdparty/AprilTag/scripts/apriltag.py

April_tags:
  - name: tag25h9
    size: 75
    attached_frame: B1

Body_frames:
  # - frame_id: B1
  #   position: [-0.0059, -0.0840, 0.4760]    
  #   orientation: [0.49384907, -0.01634737, 0.00527836, 0.86937794] # quaternion (qx, qy, qz, qw)
  #   monitor_topic: "/B1_pose"
  #   tag_id: 0
  # - frame_id: B2
  #   position: [-0.3329, -0.0401, 0.4356]    
  #   orientation: [0.49384907, -0.01634737, 0.00527836, 0.86937794] # quaternion (qx, qy, qz, qw)
  #   monitor_topic: "/B2_pose"
  #   tag_id: 2

  - frame_id: B1
    position: [0.059852714651860886, -0.050098688110900555, 0.49502800259602886]
    orientation: [0.492072445658829, -0.014621735924011392, 0.004649765432167939, 0.8704190328475896] # quaternion (qx, qy, qz, qw)
    monitor_topic: "/B1_pose"
    tag_id: 0
  - frame_id: B2
    position: [-0.16942416870181085, -0.09651367199740188, 0.5221008854555029]
    orientation: [0.5091666484451798, -0.03295078781422578, 0.008378050191564132, 0.8599961499730752] # quaternion (qx, qy, qz, qw)
    monitor_topic: "/B2_pose"
    tag_id: 2

  # - frame_id: B1
  #   position: [0.12632846779566242, -0.03494785508066773, 0.48343150932196927]
  #   orientation: [0.4907476689392547, 0.08253720364564286, 0.05763016713099148, 0.8654669833572505] # quaternion (qx, qy, qz, qw)
  #   monitor_topic: "/B1_pose"
  #   tag_id: 0
  # - frame_id: B2
  #   position: [-0.1374176856968198, -0.11647305222815527, 0.5439849295748657]
  #   orientation: [0.5259020940179194, -0.02746863702609207, 0.011878078675967753, 0.8500184543493533] # quaternion (qx, qy, qz, qw)
  #   monitor_topic: "/B2_pose"
  #   tag_id: 2


Sampling:
  max_iters: 30000
  collision_threshold: 0
  safety_threshold: 0.03
  window_size: 15


Baselines:
  moveit_config_pkg: panda_moveit_config
  planner_ID: ['RRT', 'RRTConnect', 'RRTstar', 'PRM', 'LBKPIECE', "RRTConnect+CHOMP", "RRTConnect+STOMP"]


Planning:
  total_time:          4.0
  n_states:            20
  map_name:            map_bookshelf
  coeff_Qc:            1.0
  GH_deg:              3
  sig_obs:             20.5
  eps_sdf:             0.2
  radius:              0.0
  step_size:           0.7
  init_precision_factor: 10000.0
  boundary_penalties:  10000.0
  temperature:         0.01
  high_temperature:    0.2
  low_temp_iterations: 20
  stop_err:            1e-5
  max_iterations:      30
  max_n_backtracking:  5
  sdf_file:            ../../thirdparty/sensor3D_tools/scripts/FrankaBoxDatasetOffset_cereal.bin

  # start_degrees: [-14, -99, 96, -145, 30, 145, 88]
  # goal_degrees: [-33, 54, 23, -101, 113, 100, -72]

  # start_degrees: [-40, 40, -21, -127, 52, 168, 110]
  # goal_degrees: [37, 69, -7, -75, 3, 149, -112]

  # start_degrees: [-23.2, 31.7, -27.2, -130.7, 35.1, 155.4, -39.5]
  # goal_degrees: [57.9, 55.2, -39.3, -86.4, 40.2, 130.0, 51.0]

  start_pos: [-0.8, -1.70, 1.64, 1.29, 1.1, -0.106, 2.2]
  goal_pos:  [-0.0,  0.94, 0.00, 1.6, 0.0, -0.919, 1.55]


  start_degrees: [-56, 21, 23, -141, -24, 162, 36]
  goal_degrees: [57.9, 55.2, -39.3, -86.4, 40.2, 130.0, 51.0]

  saving_prefix: scripts/hardware_experiment/Data/GVIMP_Hardware_Result

  config_file: "vimp/scripts/hardware_experiment/config/franka_dh.yaml"
  disturbed_sdf: "vimp/scripts/hardware_experiment/Data/FrankaHardware_cereal.bin"
  